<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome {{ username }}!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}


        {% endblock %}
    </head>
    <body>
        {% block body %}


            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="{{ path('user_index') }}">Ba sango na biso</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('user_index') }}">Accueil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('article_index') }}">Publications</a>
                        </li>
                        {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a>
                            {% endif %}

                    </ul>
                </div>
            </nav>



        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
