{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="container-fluid">
    <h1>Article index</h1>
    </div>
    <div class="container-fluid">
    <a class="btn btn-primary" href="{{ path('article_new') }}">Publier un article</a>
    </div>
<div class="container-fluid">
<div class="row">
    {% for article in articles %}
    <div class="card col-lg-12">
        <div class="card-body">
            <h5 class="card-title">{{ article.content|interpret|raw }}.</h5>
            <p class="card-text">Ecrit par : {{ article.user.username }}.</p>
            <p class="card-text"><small class="text-muted">Ecrit le {{ article.createdAt ? article.createdAt|date('d/m/Y H:i') : '' }}</small></p>
            <a class="btn btn-primary" href="{{ path('article_show', {'id': article.id}) }}">Voir l'article</a>
        </div>
    </div>
    {% else %}

        <td colspan="3">no records found</td>

    {% endfor %}

</div>

    </div>

{% endblock %}
