{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>Create new Article</h1>
<div class="container-fluid">
    <a class="btn btn-primary" href="{{ path('article_index') }}">Liste d'articles</a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}


</div>
{% endblock %}
