{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="container-fluid">
    <h1>Article</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ article.content|interpret|raw }}.</h5>
            <p class="card-text">Ecrit par : @{{ article.user.username }}.</p>
            <p class="card-text"><small class="text-muted">Ecrit le {{ article.createdAt ? article.createdAt|date('d/m/Y H:i') : '' }}</small></p>
            <a href="{{ path('article_index') }}" class="btn btn-primary">Voir tous les articles</a>
        </div>
    </div>
{% endblock %}
