{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>Bienvenu(e) sur Ba sango na biso</h1>
    <p> Vous pouvez suivre et être suivie par vos amis. vous pouvez egalement poster vos articles.</p>

<div class="container-fluid">

    {% for user in users %}
        <div class="col-lg-8">
            <div class="film col-md-12">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{ user.image }}" class="card-img" alt="photos de l'utilisateur">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2 class="card-title"> {{ user.username }}</h2>
                                <p class="card-title">{{ user.email }}</p>
                                <a type="button" class="btn btn-primary" href="{{ path('profile', {'username': user.username}) }}">Profil</a></h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}
        <td colspan="6">no records found</td>
    {% endfor %}



{% endblock %}
