{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    {{ parent() }}
    <h1>Inscription</h1>

<div class="container-fluid">
    {{ form_start(form) }}

    {{ form_row(form.username,{'label':"nom d' utilisateur", 'attr':{'placeholder':" Entrez votre Pseudo ici"}}) }}
    {{ form_row(form.email,{'label':"Email", 'attr':{'placeholder':"example:'grace@yahoo.fr"}}) }}
    {{ form_row(form.password) }}
    {{ form_row(form.image) }}
    <button type="submit" class="btn btn-primary">Inscription</button>
    {{ form_end (form)}}

</div>
{% endblock %}
