{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    {{ parent()}}
    <div>
    <h1> Bienvenu(e) {{ user.username }}</h1>
        <p>Email: {{ user.email }}</p>

    </div>
    {% if app.user != user %}
        {% if user.followers.contains(app.user) %}
            <a class="btn btn-primary" href="{{ path('unfollow', {'username':user.username}) }}">
                Unfollow
            </a>
        {% else %}
            <a class="btn btn-primary" href="{{ path('follow', {'username':user.username}) }}">
                Follow
            </a>
        {% endif %}
    {% endif %}

    <div class="container-fluid">
        <h1>Article</h1>
    </div>
    <a class="btn btn-primary" href="{{ path('user_index') }}">Accueil</a>
    {% for article in articles %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ article.content|interpret|raw }}.</h5>
            <p class="card-text">Ecrit par : {{ article.user.username }}.</p>
            <p class="card-text"><small class="text-muted">Ecrit le {{ article.createdAt ? article.createdAt|date('d/m/Y H:i') : '' }}</small></p>
            <a class="btn btn-primary" href="{{ path('article_show', {'id': article.id}) }}">Voir l'article</a>
        </div>
    </div>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}


{% endblock %}
